.content-grid
  align-self: center
  display: grid
  max-width: 100%
  margin: auto

  h1 h2 h3
    text-align: center
    background-color: rgba(0, 0, 0, 0.5)
    width: 100%

  img
    max-width: 100%


.content-cell-header
  width: 100%

.content-cell-main
  max-width: 90vh
  margin: auto

.content-cell-landscape
  grid-rows: span 1

.content-cell-footer

// media break
//@media (min-width: $media-grid-start)
  //.content-grid
    //display: grid
    //grid-template-columns: repeat(auto-fit, minmax(10em, 1fr))
    //grid-gap: 1em

  //.content-cell-landscape

  //.content-cell-header

  //.content-cell-menu

  //.content-cell-main


