.index-grid
  position: center
  width: 100vh
  max-width: 100vw
  min-width: 500px
  margin: auto

.index-cell-header
  margin: auto

.index-cell-main
  margin: auto

.index-cell-img

.index-cell-footer

  // Grid
//@media (min-width: $media-grid-start)
  //.index-grid
    //display: grid
    //grid-template-columns: repeat(auto-fit, minmax(10em, 1fr))
    //grid-gap: 5px

  //.index-cell-header

  //.index-cell-menu

  //.index-cell-main


