<!DOCTYPE html>
<html>
<head>
      {% include "head.html" %}
</head>

<a class="button" href="/index.html">Button text</a>

<body>
      <!-- main sub-template content -->
      {% block body %}
      {% endblock body %}
</body>

<footer>
    {% include "footer.html" %}
</footer>
</html>
