<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ config.title }}</title>
<link rel="stylesheet" href={{ get_url( path="style.css", trailing_slash=false ) }}>
